body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    color: #4a4a4a;
    margin: 0;
    font-size: 2.5em;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    display: flex;
    max-width: 1400px;  /* 增加最大寬度 */
    width: 100%;
    gap: 40px;  /* 增加間距 */
}

.intro, .login-form {
    flex: 1;
    padding: 50px;  /* 增加內邊距 */
    background: #ffffff;  /* 改為白色背景 */
    border-radius: 20px;  /* 增加圓角 */
    margin: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);  /* 增強陰影效果 */
}

.login-form {
    max-width: 400px;  /* 設置最大寬度 */
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    font-size: 2em;  /* 增大字體 */
}

input {
    margin-bottom: 25px;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 30px;
    background: #f9f9f9;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;  /* 確保輸入框佔滿容器寬度 */
    box-sizing: border-box;  /* 包括padding和border在內的盒模型 */
}

input:focus {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
    outline: none;
}

button {
    padding: 15px;
    font-size: 18px;
    background: linear-gradient(45deg, #3498db, #2980b9);
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    font-weight: bold;  /* 加粗字體 */
    width: 100%;  /* 確保按鈕佔滿容器寬度 */
    margin-top: 10px;  /* 在按鈕上方添加一些間距 */
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    color: #666;
}